################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab6/.vs/Lab6/v16
/Lab6/Debug
/Lab6/Lab6/Debug
/Labs/.vs/Labs/v16
/Labs/Debug
/Labs/Lab6/Debug
/Labs/Lab7/Debug
/Labs/Lab8/Debug/Lab8.tlog
/Labs/Lab8/Debug
/Labs/Lab9/Debug/Lab9.tlog
/Labs/Lab9/Debug
